@import "colors.css";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-width: 30em;

    > div {
        display: flex;
        margin: 0;
        padding: 0;
        height: 100%;
    }
}

.container {
    margin: 0 auto;
    max-width: 60em;
    width: 100%;
}

.representation {
    flex: 1;
    display: flex;
    flex-direction: column;

    .waiting {
        background-color: $skyBlue;
        background-image: url('/static/img/loader.gif');
        background-position: 50% 40%;
        background-size: auto;
        background-repeat: no-repeat;
        flex: 1;
        position: relative;

        &.error {
            background-image: url('/static/img/warning.png');
        }

        .message {
            position: absolute;
            top: 60%;
            width: 100%;

            p {
                color: $white;
                font-family: 'Roboto';
                font-size: 1.8em;
                letter-spacing: 1px;
                line-height: 1.4;
                text-align: center;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
