@import "colors.css";
@import "variables.css";

form {
    letter-spacing: .03125em;

    h2 {
        border-bottom: 1px solid $lightGrey;
        font-size: 1.25em;
        margin: 0.4375em 0;
        padding: 0.4375em 0;
    }

    .form-container {
        background-color: #EEEFF0;
        display: flex;
        margin-bottom: 0.25em;
        padding: 2em 4em;

        &.vertical {
            flex-direction: column;
            label {
                margin-bottom: 0.5em;
            }
        }

        .fieldset {
            display: flex;
            label {
                align-self: center;
                margin-bottom: 0;
            }
        }

        label {
            flex: 1;
            span {
                font-weight: bold;
            }
        }

        input, select {
            border: 1px solid #ccc;
            box-sizing: border-box;
            color: #333;
            flex: 1;
            padding: 0.625em;
            margin: 0.3125em 0;

            &:focus {
                border-color: $skyBlue;
            }
        }

        .full-length {
            min-width: 100%;
        }

        input[type="checkbox"], input[type="radio"] {
            align-self: flex-start;
            border: none;
            cursor: pointer;
            flex-grow: 0.1;
            padding: 0;

            + label {
                cursor: pointer;
            }

            &:not(old) {
                font-size: 1em;
                margin: 0;
                opacity: 0;
                width: 2em;

                + label {
                    display: inline-block;
                    margin-left: -2em;
                    line-height: 1.5em;

                    > span {
                        background: transparent;
                        border: 0.125em solid $darkGrey;
                        border-radius: 0.25em;
                        display: inline-block;
                        height: 0.875em;
                        margin: 0.25em 0.5em 0.25em 0.25em;
                        vertical-align: bottom;
                        width: 0.875em;
                    }
                }

                &:checked {
                    + label {
                        > span {
                            border-color: $skyBlue;

                            &:before {
                                color: $skyBlue;
                                display: block;
                                font-size: 0.875em;
                                font-weight: bold;
                                line-height: 1em;
                                text-align: center;
                                width: 1em;
                            }

                            > span {
                                background-color: $skyBlue;
                                border: 0.0625em solid $skyBlue;
                                display: block;
                                height: 0.5em;
                                margin: 0.125em;
                                width: 0.5em;
                            }
                        }
                    }
                }
            }
        }

        input[type="radio"] {
            &:not(old) {
                + label {
                    > span {
                        border-radius: 1em;
                    }
                }

                &:checked {
                    + label {
                        > span {
                            > span {
                                border-radius: 1em;
                            }
                        }
                    }
                }
            }
        }

        .controls {
            display: flex;
            flex: 1;
        }
    }

    .wireless-connection, .static-configuration {
        transition: .2s;

        .fieldset {
            margin: 0.5em 0;
        }

        label {
            text-align: right;

            &.checkbox {
                cursor: pointer;
                margin-left: 50%;
            }
        }

        input[type="text"],input[type="password"] {
            margin-left: 1em;
        }

        &.shown {
            height: auto;
            opacity: 1;
            overflow: auto;
            width: auto;
        }

        &.hidden {
            height: 0;
            opacity: 0;
            overflow: hidden;
            width: 0;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        margin-top: 1em;

        button {
            flex: 0.1;
        }

        small {
            color: $darkGrey;
            flex: 0.9;
            text-align: right;
        }
    }

    button {
        background-color: $skyBlue;
        border-radius: $radius;
        color: #fff;
        font-size: 1.285em;
        font-weight: bold;
        line-height: 1;
        padding: 1em 3em;
        text-transform: capitalize;

        &:hover {
            background-color: $darkSkyBlue;
        }

        &.small {
            font-size: 80%;
            margin: 0.5em 0;
        }

        &.secondary {
            background-color: $green;

            &:hover {
                background-color: $darkGreen;
            }
        }

        &.danger {
            background-color: $red;

            &:hover {
                background-color: $darkRed;
            }
        }
    }
}
