$lightGrey: #CBCFD1;
$darkGrey: #838688;
$secondaryDarkGrey: #353737;
$radius: 0.1875em;
$orange: #FF8300;
$lightOrange: #F39642;
$skyBlue: #00B6F0;
$labelWidth: 11em;
$darkRed: #76141B;
$lightRed: #C12834;

form {
    font-size: 0.875em;
    letter-spacing: 1px;

    h2 {
        border-bottom: 1px solid $lightGrey;
        font-size: 1.25em;
        margin: 0.4375em 0;
        padding: 0.4375em 0;
    }

    label {
        display: flex;
        line-height: 3.5em;

        span:first-child, input[type="checkbox"]:first-child {
            flex: initial;
            font-weight: bold;
            margin: 0;
            min-width: $labelWidth;
            padding: 0;
        }

        input[type="checkbox"]:first-child {
            margin: 1.5em 0.5em 1.5em 9.625em;
            min-width: auto;

            + span {
                font-weight: bold;
                line-height: 1;
                margin: 1.75em 0;
            }
        }

        input, select {
            box-sizing: border-box;
            flex: 1;
            padding: 0.3125em;
            margin: 0.3125em 0;
        }
    }

    .actions {
        border-top: 1px solid $lightGrey;
        margin: 1em 0 0 $labelWidth;
        padding-top: 1em;

        button:first-child {
            margin-left: 0;
        }

        small {
            color: $darkGrey;
            display: block;
            margin-top: 1em;
        }
    }

    button {
        background-color: $orange;
        border: 1px solid $secondaryDarkGrey;
        border-radius: $radius;
        box-shadow: inset 0px 1px 0px 0px $lightGrey;
        color: #fff;
        font-size: 1.285em;
        font-weight: bold;
        line-height: 1;
        margin-left: 0.5em;
        padding: 0.625em 1.5em;
        text-shadow: 0px 1px 0px $secondaryDarkGrey;
        text-transform: capitalize;

        &:hover {
            background-color: $lightOrange;
        }

        &.small {
            font-size: 80%;
            margin: 0.5em 0;
        }

        &.right {
            float: right;
        }

        &.danger {
            background-color: $darkRed;

            &:hover {
                background-color: $lightRed;
            }
        }
    }
}
