@import "colors.css";

form {
    .jobs-container {

        > button {
            align-self: flex-end;
            background-color: $green;
            margin-right: 0.5em;
        }

        .fieldset {

            padding: 0.25em 0.5em;

            &:hover {
                background-color: #fff;
                label {
                    font-weight: bold;
                }
            }

            input, label {
                flex: initial;
                flex-grow: initial;

                &[type="text"] {
                    flex: 1;
                    margin-right: 1em;
                }
            }
        }
    }
}
