@import "colors.css";

form {
    .jobs-container {

        > button {
            align-self: flex-end;
            background-color: $green;
        }

        .fieldset {

            padding: 0 1em;

            &:hover {
                background-color: #fff;
                label {
                    font-weight: bold;
                }
            }

            input {
                flex: initial;
                flex-grow: initial;
            }
        }
    }
}
