@import "colors.css";
@import "variables.css";

.tab {
    flex: 1;
    min-width: 100%;

    .tab-nav-container {
        border-bottom: 1px solid $grey;

        ul {
            display: flex;
            list-style: none;

            li {
                align-self: center;
                border-bottom: 4px solid transparent;
                flex: 1;
                margin-top: 4px;

                a {
                    color: #666;
                    display: block;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 2px;
                    padding: 1em 0;
                    text-align: center;
                    text-transform: uppercase;
                }

                &.selected,
                &:hover {
                    border-bottom-color: $darkNavy;

                    a {
                        color: $darkNavy;
                    }
                }

                &.selected {
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .tab-content {
        padding: 1.5em 0;

        .tab-content-container {
            display: block;

            &.hidden {
                display: none;
            }
        }
    }
}
