@import "colors.css";
@import "variables.css";

.tab {
    min-width: 100%;

    .tab-nav-container {
        border-bottom: 1px solid $grey;

        ul {
            display: flex;
            list-style: none;

            li {
                align-self: center;
                border-bottom-style: solid;
                border-bottom-width: 4px;
                border-bottom-color: transparent;
                flex: 1;
                margin-top: 4px;

                a {
                    color: #666;
                    display: block;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 2px;
                    margin: 1em 0;
                    text-align: center;
                    text-transform: capitalize;
                }

                &.selected, &:hover {
                    border-bottom-color: $darkNavy;
                    a {
                        color: $darkNavy;
                    }
                }
            }
        }
    }

    .tab-content {
        padding: 1.5em 0;

        .tab-content-container {
            display: block;

            &.hidden {
                display: none;
            }
        }
    }
}
