@import "colors.css";
@import "variables.css";

.tab {
    min-width: 100%;

    ul.tab-nav {
        display: flex;
        list-style: none;

        li {
            background-color: #f5f5f5;
            border-bottom: $borderThickness solid $skyBlue;
            border-top-style: solid;
            border-top-width: 0.25em;
            border-top-color: #f5f5f5;
            display: inline-block;
            flex: 1;
            padding: 0 0.625em;
            transition: .3s;

            a {
                color: #666;
                display: block;
                font-family: 'Roboto', sans-serif;
                font-size: 1.25em;
                font-weight: bold;
                letter-spacing: 2px;
                padding: 1em 0;
                text-align: center;
                text-transform: capitalize;
            }

            &.selected {
                background-color: white;
                border-bottom: none;
                border-left: $borderThickness solid $skyBlue;
                border-top-color: $skyBlue;
                border-right: $borderThickness solid $skyBlue;

                a {
                    color: #333;
                }

                &:hover {
                    background-color: transparent;
                    border-top-color: $skyBlue;
                }
            }

            &:hover {
                border-top-color: #CCC;
                a {
                    color: #333;
                }
            }
        }
    }

    .tab-content {
        padding: 1.5em 3em;

        .tab-content-container {
            display: block;

            &.hidden {
                display: none;
            }
        }
    }
}
