<header>
  <div class="container">
    <span>Build Lights</span>
    <div class="device-actions">
      <button type="button" aria-haspopup="true">Online</button>
      <ul class="dropdown-device-actions">
        <li>
          <a href="/reboot">Reboot</a>
        </li>
        <li>
          <a href="/shutdown">Shutdown</a>
        </li>
      </ul>
    </div>
  </div>
</header>
