<header>
  <div class="container">
    <span>Build Lights</span>
    <div class="device-actions">
      <button type="button" aria-haspopup="true">Menu</button>
      <ul class="dropdown-device-actions">
        <li>
          <a class="deviceAction" data-countdown="30" href="/reboot">Reboot</a>
        </li>
        <li>
          <a class="deviceAction" data-countdown="15" href="/shutdown">Shutdown</a>
        </li>
        <li class="separator">
          <div />
        </li>
        <li>
          <a id="supervisor" target="_blank" href="#">Supervisor</a>
        </li>
      </ul>
    </div>
  </div>
</header>
