<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Build Lights</title>
    <link rel="stylesheet" href="/static/css/foundation.css" media="screen" title="no title">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <style media="screen">
      html {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        min-width: 30em;
      }

      .container {
        flex: 1;
        margin: 1em auto;
        max-width: 60em;
        width: 100%;
      }

      .container .representation {
        padding: 0 10px;
      }

      header {
        background-color: #192854;
      }

      header .container {
        background-image: url('/static/img/dius_logo.png');
        background-position: 0 50%;
        background-size: 180px;
        background-repeat: no-repeat;
        display: flex;
        height: 5em;
        margin: .5em auto;
      }

      header span {
        align-self: center;
        color: #ffffff;
        flex: 1;
        font-family: 'Roboto';
        font-size: 1.5em;
        letter-spacing: 1px;
        margin-left: 8em;
        text-transform: uppercase;
      }

      header .device-actions {
        display: flex;
        position: relative;
      }

      header .device-actions button {
        align-self: center;
        background-color: #21366C;
        background-image: url('/static/img/power.png');
        background-position: 1em 50%;
        background-repeat: no-repeat;
        background-size: 28px;
        border: 1px solid #A3A9AC;
        border-radius: 0.25em;
        color: #ffffff;
        font-size: 1.125em;
        padding: 0.875em 3.5em;
        position: relative;
      }

      header .device-actions:hover button {
        background-color: #314B84;
      }

      header .device-actions button:after {
        border-color: #ffffff transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        content: '\A';
        height: 0;
        position: absolute;
        right: 10%;
        top: 50%;
        width: 0;
      }

      header .device-actions:hover button:after {
        border-color: transparent transparent #ffffff transparent;
        border-width: 0 5px 5px 5px;
      }

      header .device-actions:hover .dropdown-device-actions {
        display: block;
      }

      header .device-actions .dropdown-device-actions {
        background-color: #ffffff;
        border-radius: 0.25em;
        box-shadow: 0px 0px 5px 1px #192854;
        display: none;
        position: absolute;
        right: 0;
        top: 85%;
      }

      header .device-actions .dropdown-device-actions li a {
        border-radius: 0.25em;
        display: block;
        padding: 0.75em 1.5em;
      }

      header .device-actions .dropdown-device-actions li a:hover {
        background-color: #CBCFD1;
      }

      footer {
        background: #A3A9AC;
        font-size: 0.75em;
        padding: 0.625em;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {{> header}}

    <div class="container">
      {{{body}}}
    </div>

    {{> footer}}
  </body>
  <script src="/static/js/bundle.js" charset="utf-8"></script>
</html>
