<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Build Lights</title>
    <link rel="stylesheet" href="/static/css/foundation.css" media="screen">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/static/js/bundle.js" charset="utf-8"></script>
</html>
