{
    "light": {
        "type": "epistar_lpd8806",
        "num_leds": 32,
        "simulate_mode": false,
        "spidev": "/dev/spidev0.0"
    },
    "api": {
        "type": "jenkins",
        "url": "http://psn-ci:8080",
        "pollrate_s": 3
    },
    "jobs": [
        "ZigBee-devices-docs",
        "ZigBee-devices-gate-1",
        "ZigBee-devices-gate-1-NA",
        "ZigBee-devices-gate-1-OR",
        "ZigBee-devices-gate-2",
        "ZigBee-devices-gate-3a",
        "ZigBee-devices-gate-3b",
        "ZigBee-devices-gate-3c",
        "ZigBee-devices-gate-3d",
        "ZigBee-devices-gate-4",
        "ZigBee-devices-gate1-OR-2.1",
        "ZigBee-devices-GridNet-SGC-upgrade-test",
        "ZigBee-devices-ZAP_ZNP",
        "ZigBee-devices-ZAP_ZNP-GridNet",
        "zigbee-gateway-gate-1",
        "zigbee-gateway-gate-2"
    ]
}
